syntax on
colorscheme koehler
set nocompatible                            " Disable backwards compatibility with vi
set shortmess+=filmnrxoOtT                  " abbrev. of messages (avoids 'hit enter')
set expandtab                               " expand tabs to spaces
set tabstop=4                               " 4 Spaces for tabs
set shiftwidth=4                            " number of spaces use for each step of indent
set softtabstop=4                           " backspace removes tabs
set autoindent                              " copy indent from current line when starting a new line
set visualbell                              " don't beep
set autoread                                " automatically re-read changed files
set showmatch                               " briefly jump to a matching bracket
set incsearch                               " show matching searchterm while typing
set number                                  " show line numbers
set numberwidth=1                           " width for numbers
set antialias                               " font smoothing
set foldmethod=manual                       " manually fold lines
set foldlevel=3                             " foldlevel 3
set nowrap                                  " no line wrapping
set showtabline=2                           " Always show tab bar
set scrolloff=3                             " Keep more context when scrolling off the end of a buffer
set wildmenu                                " Make tab completion for files/buffers act like bash
set wildmode=list:longest,full              " command <Tab> completion, list matches, then longest common part, then all.
set hlsearch                                " highlight search term
set smartcase                               " only case sensitiv if they contain upper case characters
set mousehide                               " Hide the mouse pointer while typing
set showmode                                " display the current mode
set encoding=utf-8                          " Set default encoding to UTF-8
set scrolloff=5                             " Minimal number of screen lines to keep above and below the cursor
set undofile                                " Keep undo files for cross session undo / redo
set showcmd                                 " Display commands executed
set list
set listchars=tab:▸\ ,trail:˺
set hidden
set directory=~/.local/tmp,/var/tmp,/tmp    " Set directory to save swap files in
set ruler
set rulerformat=%55(%1*%{strftime('%a\ %b\ %e\ %I:%M\ %p')}\ %5l,%-6(%c%V%)\ %P%)%*
set mouse=a
set autochdir
